.popup__close-button {
    position: absolute;
    background-image: url(../../../images/popup__close-button.svg);
    width: 32px;
    height: 32px;
    border: none;
    background-color: transparent;
    cursor: pointer;
    right: -40px;
    top: -40px;
    padding: 0;
}

.popup__close-button:hover {
    opacity: 0.6;
}

@media screen and (min-width: 320px) and (max-width: 767px) {
    .popup__close-button {
        width: 20px;
        height: 20px;
        right: 0;
        top: -36px;
        background-image: url(../../../images/popup__close-button-320.svg);
    }
}